language: python
sudo: false
cache: pip

python:
  - "3.4"
  - "2.7"

branches:
  only:
    - master

# command to install requirements
install:
  - python setup.py -q develop
  - pip install -r requirements-test.txt

# command to run flake8
before_script:
  - flake8
  - ./runisort

# command to run tests, e.g. python setup.py test
script:
  - nosetests --with-coverage --cover-package=netdiff
  - |
   if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
     # gets commit message of last commit before pull request merge
     COMMIT_MESSAGE=$(git log $TRAVIS_PULL_REQUEST_SHA --format=%B -n 1)
     printf "Checking commit message:\n\n"
     printf "$COMMIT_MESSAGE\n\n"
     checkcommit --message "$COMMIT_MESSAGE"
   fi

after_success:
  coveralls
