language: python

python:
  - "3.4"
  - "2.7"

branches:
  only:
    - master

# command to install requirements
install:
  - python setup.py -q install
  - pip install nose coverage coveralls

# command to run tests, e.g. python setup.py test
script:
  - nosetests --with-coverage --cover-package=netdiff

after_success:
  coveralls
